<!-- <button ng-click='consoleLog()'>click me</button> -->

<div align='center' class = 'empty' ng-show='cart.teas.length===0'><h2>Your cart is empty.</h2></div>
<div ng-show='cart.teas.length>0'>



<span align='center'>
    <h2>Your Shopping Cart:</h2>
    <h4>Total: {{ cart.overallTotal | currency: '$'}} </h4>
</span>

<div ng-repeat='tea in cart.teas'></div>

<table  class="table table-bordered" align="center">
    <thead>
        <tr >
            <td >
                Product
            </td >

            <td >

                <span > Quantity</span>

            </td>
            <td >

                <span > Sub-total</span>

            </td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='tea in cart.teas'>
            <td>
                <h3>{{tea.name}}


                </h3>
                <img src="{{tea.imageUrl}}" alt="tea photo">

                <p>
                    <div class='caffeine-selection'>
                        <h4>Caffeine Scale {{tea.caffeineScale}} </h4>
                    </div>
                </p>
                <p>
                    <strong>Ingredients:</strong>
                    {{tea.ingredients}}
                </p>
                <p>
                    <strong>Rating:</strong>
                    {{tea.rating}}
                </p>
            </td>
            <td>
                <p>{{tea.qty}}</p>


            </td>
            <td>
                <p>{{tea.subtotal | currency: '$'}}</p>


            </td>
            <td>
                <button class = 'btn btn-danger'ng-click='removeFromCart()'>remove</button>

                <button class = 'btn btn-primary' ng-click='editClicked()'>edit</button>
            <td>
                <span ng-show='showEdit' class='pull-right'>
                    Update Quantity:
                    <select ng-model='tea.quantity'>
                        <option ng-repeat='qty in [1,2,3,4,5,6,7,8,9,10]' value='{{qty}}' >{{qty}}</option>
                    </select>
                    <button type='button' name='button' class='btn btn-warning' ng-click='updateCart(tea, tea.quantity)'>Update Quantity</button>
                </span>

            </td>

            </td>
        </tr>
</tbody>
</table>
</div>
